.next
next-env.d.ts
node_modules
yarn.lock
package-lock.json
public

src/assetsOld/**
src/commonOld/**
src/componentsOld/**
src/contentsOld/**
src/exploration/**
src/layout/**
src/modelsOld/**
src/release/**
src/styles/**
src/templatesOld/**
src/theme/**
src/types/**
src/typesOld/**
src/utils/**
src/utilsOld/**