---
export interface Props {
  title?: string;
  img: string;
}

const { title, img } = Astro.props;
---

<div class="inline-block mr-3 lg:mr-0 w-60 lg:w-4/12">
  <div class="w-full rounded-2xl overflow-hidden">
    <img class="w-full" src={img} alt="" srcset="" />
  </div>
  <p
    class="text-xs font-bold text-primary mt-3 w-full whitespace-normal lg:text-sm"
  >
    {title}
  </p>
</div>
