---
export interface Props {
  title?: string;
  img: string;
}

const { title, img } = Astro.props;
---

<div class="mr-3 inline-block w-60 lg:mr-0 lg:w-4/12">
  <div class="w-full overflow-hidden rounded-2xl">
    <img class="w-full" src={img} alt="" srcset="" />
  </div>
  <p
    class="mt-3 w-full whitespace-normal text-xs text-primary dark:text-gray-400 lg:text-sm"
  >
    {title}
  </p>
</div>
